.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.wrapperDiv {
   background-image: url("img/wrapperDivBackground.jpg");
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   overflow: auto;
   position: absolute;
}

.headerWrapper {
  margin : 3%  5%  0% 5%;
  background-image: url("img/image_1.jpg");
  background-size: cover;
  color : white;
  height : 40%;
}

.thoughtWrapper {
  margin : 0%  5%  0% 5%;
  background-color: black;
  color : white;
  word-wrap: break-word
}

.thoughtDiv {
  padding : 10px;
  font-style: italic;
}

.contentWrapper {
  margin : 0%  5%  5% 5%;
}

.contentWrapperOne {
  display:flex;
  flex-direction: row;
  justify-content : space-between;
}

.contentWrapperOneI {
  width : 500px;
  height : 250px;
  background-color: black;
  opacity: 0.7;
  cursor: pointer;
}

.contentWrapperOneIDiv {
  color: white;
  text-align: center;
  padding-left : 10px;
  padding-right : 10px;
  padding-top : 10px;
}

.contentWrapperOneII {
  width : 500px;
  height : 250px;
  background-color: yellow;
  opacity: 0.7;
  cursor: pointer;
}

.contentWrapperOneIIDiv {
  text-align: center;
  padding-left : 10px;
  padding-right : 10px;
  padding-top : 10px;
}

.contentWrapperOneIII {
  width : 500px;
  height : 250px;
  background-color: red;
  opacity: 0.7;
  cursor: pointer;
}

.contentWrapperTwo {
  margin : 1%  0%  1% 0%;
  display:flex;
  flex-direction: row;
  justify-content : space-between;
}

.contentWrapperTwoI {
  width : 500px;
  height : 250px;
  background-color: violet;
  opacity: 0.7;
  cursor: pointer;
}

.contentWrapperTwoII {
  width : 500px;
  height : 250px;
  background-color: turquoise;
  opacity: 0.7;
  cursor: pointer;
}

.contentWrapperTwoIII {
  width : 500px;
  height : 250px;
  background-color: pink;
  opacity: 0.7;
  cursor: pointer;
}

.contentWrapperThree {
  display:flex;
  flex-direction: row;
  justify-content : space-between;
}

.contentWrapperThreeI {
  width : 500px;
  height : 250px;
  background-color: lightgreen;
  opacity:0.7;
  cursor: pointer;
}

.contentWrapperThreeII {
  width : 500px;
  height : 250px;
  background-color: blue;
  opacity:0.7;
  cursor: pointer;
}

.contentWrapperThreeIII {
  width : 500px;
  height : 250px;
  background-color: green;
  opacity: 0.7;
  cursor: pointer;
}

.contentWrapperThreeIIIDiv{
  color: black;
  margin : auto;
  width: 35%;
  margin-top: 5%;
}

.imageClass {
  width: 150px;
  height: 150px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
